/* Provide sufficient contrast against white background */
body {
    background-color: #E2E5EB;
}

a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.mfm-veil {
    position: absolute;
    background-color: grey;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.3;
}

.mfm-login-signup-form {
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    background-color: white;
    padding: 1rem;
    box-shadow: 5px 5px 5px #1A1A1A;
    border-radius: 5px;
}

.mfm-show-card {
    min-width: 200px;
    max-width: 200px;
    margin: 1rem;
}

.selected-card {
    border: 5px #9efdff solid;
}

.app-button-right {
    right: 50px;
    position: absolute;    
}

.app-img{
    max-width: 60%;
}

.app-loading-content {
    display: flex;
    align-items: center;
}

.app-landing-page {
    color: #232323;
    width: 100%;
}

.app-items-center {
    flex-direction: column;
}

.mfm-navbar-header{
    background-color: white !important;
}

.mfm-getting-started {
    max-width: 250px;
    cursor: pointer; 
}

.mfm-landing-right-img {
    min-width: 600px;
}

.mfm-button-neu {
    margin-top: 1rem;
    width: 200px;
    height: 60px;
    background-color: #E3E6EC;
    box-shadow: 12px 12px 20px #D1D9E6, -12px -12px 20px #FFFFFF;
    border-radius: 80px;
    cursor: pointer;
}

    .mfm-button-neu.selected {
        background-color: #E6E9EF;
        box-shadow: inset 10px 10px 30px #D1D9E6, inset -10px -10px 30px #FFFFFF;
    }

.mfm-button-neu h5 {
    padding-top: 15px;
    text-align: center;
}

.mfm-large-space{
    padding: 15rem;
}
.mfm-small-space {
    padding: 5rem;
    padding-top: 10rem;
}

