/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.mfm-veil {
    position: absolute;
    background-color: grey;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.3;
}

.mfm-login-signup-form {
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    background-color: white;
    padding: 1rem;
    box-shadow: 5px 5px 5px #1A1A1A;
    border-radius: 5px;
}

.mfm-show-card {
    min-width: 200px;
    max-width: 200px;
    margin: 1rem;
}

.selected-card {
    border: 5px #9efdff solid;
}

.app-button-right {
    right: 50px;
    position: absolute;    
}

.app-img{
    max-width: 60%;
}

.app-loading-content {
    display: flex;
    align-items: center;
}

.app-home-jumbotron{
    background-image: url("assets/background.png");
    color: white;
}

.app-items-center {
    flex-direction: column;
}
